@using CalmbinoArchive.Application.DTOs
@using CalmbinoArchive.Application.DTOs.Validators
@using CalmbinoArchive.Web.Shared.Contracts
@using CalmbinoArchive.Web.Shared.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@page "/LogIn/client"
@rendermode InteractiveWebAssembly
@inject AuthClientService AuthClientService


<MudSnackbarProvider/>
<div style="display: flex; justify-content: center; align-items: center; height: 80vh">
    <MudCard Class="pa-5" Style="width: 40%">
        <MudCardContent Style="margin-bottom: 40px">
            <MudForm Spacing="8" Model="@_model" @ref="@_form" Validation="@(_validator.ValidateValue)"
                     ValidationDelay="0">
                <MudTextField @bind-Value="_model.Email" For="@(() => _model.Email)" Immediate="true" Label="Email"/>
                <MudTextField @bind-Value="_model.Password" For="@(() => _model.Password)" Immediate="true"
                              Label="Password" InputType="InputType.Password"/>
            </MudForm>
        </MudCardContent>
        <MudCardActions>
            <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Primary"
                       OnClick="@(async () => await Submit())">Log in
            </MudButton>
        </MudCardActions>
    </MudCard>
</div>

@code {
    [Inject] ISnackbar? Snackbar { get; set; }
    [Inject] IOptions<IdentityOptions>? PasswordOptions { get; set; }

    private MudForm? _form;
    private readonly LoginRequestDto _model = new LoginRequestDto();
    private LoginRequestDtoValidator _validator = null!;

    private async Task Submit()
    {
        await _form!.Validate();
        
        Console.WriteLine($"_form Model >>> {_form.Model}");
        Console.WriteLine($"_form Errors >>> {_form.Errors}");


        if (_form.IsValid)
        {
            Console.WriteLine($"LoginRequestDto >>> {_model}");
            var response = await AuthClientService.LoginAsync(_model);
            Console.WriteLine($"Response >>> {response}");

            if (response.IsSuccessStatusCode)
            {
                var body = await response.Content.ReadFromJsonAsync<LoginResponseDto>();
                Console.WriteLine($"Response Body >>> {body}");
            }
            else
            {
                var body = await response.Content.ReadFromJsonAsync<ProblemDetails>();
                Console.WriteLine($"Response Body >>> {body}");
                Console.WriteLine($"ProblemDetails Extensions >>> {body.Extensions}");
            }
        }
    }

    protected override void OnInitialized()
    {
        // Console.WriteLine($"PasswordOptions >>>> {PasswordOptions}");
        _validator = new LoginRequestDtoValidator(PasswordOptions!);
    }

}