@inherits LayoutComponentBase


@* <MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" /> *@
@* <MudLayout> *@
@*     <MudAppBar Elevation="1"> *@
@*         <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
@*         <MudText Typo="Typo.h5" Class="ml-3">Application</MudText> *@
@*     </MudAppBar> *@
@*     <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2"> *@
@*         <NavMenu/> *@
@*     </MudDrawer> *@
@*     <MudMainContent Class="mt-16 pa-4"> *@
@*         @Body *@
@*     </MudMainContent> *@
@* </MudLayout> *@
@* *@
@* *@
@* <div id="blazor-error-ui"> *@
@*     An unhandled error has occurred. *@
@*     <a href="" class="reload">Reload</a> *@
@*     <a class="dismiss">🗙</a> *@
@* </div> *@

@* <MudPopoverProvider/> *@
@* <MudDialogProvider/> *@
@* <MudSnackbarProvider/> *@

<MudThemeProvider IsDarkMode="@_isDarkMode"/>
<MudLayout>
    <MudAppBar Elevation="5">
        <MudText Style="white-space: nowrap;" Typo="Typo.h5" Class="ml-1">Calmbino's Archive</MudText>
        <MudSpacer/>
        <MudContainer Class="d-flex flex-row flex-grow-1 gap-4">
            <MudLink Typo="Typo.button" Href="/" Color="Color.Inherit">Home</MudLink>
            <MudLink Typo="Typo.button" Href="/posts" Color="Color.Inherit">Post</MudLink>
            <MudLink Typo="Typo.button" Href="/weather" Color="Color.Inherit">Weather</MudLink>
        </MudContainer>


        @* <MudButtonGroup Color="Color.Inherit" Variant="Variant.Text" Size="Size.Medium"> *@
        @*     <MudButton> *@
        @*         <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink> *@
        @*     </MudButton> *@
        @*     <MudButton> *@
        @*         <MudNavLink Href="posts" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Notes">Post</MudNavLink> *@
        @*     </MudButton> *@
        @* </MudButtonGroup> *@
        <MudSpacer/>
        <MudSpacer/>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End"/>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {

    // private bool _drawerOpen = true;
    private readonly bool _isDarkMode = true;
    // private MudTheme? _theme;
    //
    // protected override void OnInitialized()
    // {
    //     base.OnInitialized();
    //
    //     _theme = new MudTheme
    //     {
    //         PaletteLight = _lightPalette,
    //         PaletteDark = _darkPalette,
    //         LayoutProperties = new LayoutProperties()
    //     };
    // }
    //
    //
    // private void DrawerToggle()
    // {
    //     _drawerOpen = !_drawerOpen;
    // }
    //
    // private void DarkModeToggle()
    // {
    //     _isDarkMode = !_isDarkMode;
    // }
    //
    // private readonly PaletteLight _lightPalette = new()
    // {
    //     Black = "#110e2d",
    //     AppbarText = "#424242",
    //     AppbarBackground = "rgba(255,255,255,0.8)",
    //     DrawerBackground = "#ffffff",
    //     GrayLight = "#e8e8e8",
    //     GrayLighter = "#f9f9f9"
    // };
    //
    // private readonly PaletteDark _darkPalette = new()
    // {
    //     Primary = "#7e6fff",
    //     Surface = "#1e1e2d",
    //     Background = "#1a1a27",
    //     BackgroundGray = "#151521",
    //     AppbarText = "#92929f",
    //     AppbarBackground = "rgba(26,26,39,0.8)",
    //     DrawerBackground = "#1a1a27",
    //     ActionDefault = "#74718e",
    //     ActionDisabled = "#9999994d",
    //     ActionDisabledBackground = "#605f6d4d",
    //     TextPrimary = "#b2b0bf",
    //     TextSecondary = "#92929f",
    //     TextDisabled = "#ffffff33",
    //     DrawerIcon = "#92929f",
    //     DrawerText = "#92929f",
    //     GrayLight = "#2a2833",
    //     GrayLighter = "#1e1e2d",
    //     Info = "#4a86ff",
    //     Success = "#3dcb6c",
    //     Warning = "#ffb545",
    //     Error = "#ff3f5f",
    //     LinesDefault = "#33323e",
    //     TableLines = "#33323e",
    //     Divider = "#292838",
    //     OverlayLight = "#1e1e2d80"
    // };
    //
    // public string DarkLightModeButtonIcon => _isDarkMode switch
    // {
    //     true => Icons.Material.Rounded.AutoMode,
    //     false => Icons.Material.Outlined.DarkMode
    // };

}